---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

Below is a list of peer-reviewed publications. Please feel free to email me for
a private copy of articles that are not currently open access. You can also find
my research on my
<a href="https://scholar.google.com/citations?user=82Pp-voAAAAJ&hl=en"
    >Google Scholar</a
>
and
<a href="https://www.researchgate.net/profile/Juan_Berrios8">ResearchGate</a>
profiles.

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %} {% for category in site.publication_category
%} {% assign title_shown = false %} {% for post in site.publications reversed %}
{% if post.category != category[0] %} {% continue %} {% endif %} {% unless
title_shown %}
<h2>{{ category[1].title }}</h2>
<hr />
{% assign title_shown = true %} {% endunless %} {% include archive-single.html
%} {% endfor %} {% endfor %} {% else %} {% for post in site.publications
reversed %} {% include archive-single.html %} {% endfor %} {% endif %}
